* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  /*background-color: #f26db6; */
}

:root {
  --main-color: #03a678;
  --secondary-red: #f25c5c;
  --secondary-orange: #f28705;
  --complementary-pink: #f26db6;
  --complementary-green: #84bf04;
  --neutral-background: #201f1f;
  --neutral-font: #fcfdff;
  --tittles-font-family: 'Oleo Script', cursive;
  --secundary-font-family: 'Roboto', sans-serif;
}

.feedDiv {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto;
  /*row-gap: 15px;
    grid-gap: 1fr;
    background-color: var(--neutral-background);*/
  width: 100%;
  height: 100%;
  font-family: var(--secundary-font-family);
}

.headerFeed {
  grid-column-start: 1;
  grid-column-end: 4;
  /*grid-row: 1;*/
  height: fit-content;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #201f1f;
}

.imgHeader {
  width: 150px;
}
.buttonSignOut{
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.newPostContainer {
  grid-column: 2;
  grid-row: 2;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.formNewPostContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttonNewPost{
  justify-content: end;
  background-color: #f25c5c;
  max-width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.post-feed {
  grid-column: 2;
  grid-row: 3;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;  
}

.postDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  gap: 5px;
  border-radius: 5px;
}

.postHeader{
  display: flex;
  flex-direction: row;
  background-color: #f26db6;
  justify-content: space-between;
  padding: 5px;
}

.userNamePost, .buttonsPosts {
    color: white;
    padding: 10px;
}
.postContainer{
  padding: 10px;
}

.buttonsLikePosts{
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
}
/*
  .newPostContent{
    width: 300px;
    height: 100px;
  }

  .postHeader {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
  }



  .imgProfilePost {
    width: 40px;
  }

  .postContentContainer{
    border: 1px solid blue;
  } */