* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #03a678;
    --main-color-two: #7cc2ae;
    --neutral-background: #201f1f;
    --neutral-font: #201f1f;
    --neutral-color-select: #ffffff;
    --bg-image: url("../img/25x25 patron.png");
    --bg-image-opacity: .25;
    --tittles-font-family: 'Oleo Script', cursive;
    --secundary-font-family: 'Roboto', sans-serif;
}

.register-div {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(1); */
    justify-items: center;
    align-content: center;
    row-gap: 5px;
    width: 100%;
    height: 100vh;
    font-family: var(--secundary-font-family);
    min-height: 500px;
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
}

.register-div::after {
    content: "";
    z-index: -1;
    inset: 0;
    background: white;
    opacity: .9;
    position: absolute;
}

.container-logo-register {
    display: flex;
    justify-content: center;
}

.img-logo-register {
    width: 95px;
    transform: rotate(45deg);
}

.container-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-register {
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 90px;
}

.container-register-form {
    display: grid;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px 15px 15px 15px;
}

.input-Name-User {
    width: 285px;
    height: 35px;
    border-color: var(--main-color);
    border-radius: 18px;
    margin-top: 0px;
    padding: 7px;
    text-align: left;
}

.input-Name-User::placeholder {
    color: rgba(31, 30, 28, 0.5);
    font-style: italic;
    font-size: 15px;
}

.hide-error-message {
    color: var(--secondary-red);
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.input-City-User {
    width: 285px;
    height: 35px;
    border-color: var(--main-color);
    border-radius: 18px;
    margin-top: 0px;
    padding: 7px;
    text-align: left;
}

.input-City-User::placeholder {
    color: rgba(31, 30, 28, 0.5);
    font-style: italic;
    font-size: 15px;
}

.input-Mail-User {
    width: 285px;
    height: 35px;
    border-color: var(--main-color);
    border-radius: 18px;
    margin-top: 0px;
    padding: 7px;
    text-align: left;
}

.input-Mail-User::placeholder {
    color: rgba(31, 30, 28, 0.5);
    font-style: italic;
    font-size: 15px;
}

.input-Pass-User {
    width: 285px;
    height: 35px;
    border-color: var(--main-color);
    border-radius: 18px;
    margin-top: 0px;
    padding: 7px;
    text-align: left;
}

.input-Pass-User::placeholder {
    color: rgba(31, 30, 28, 0.5);
    font-style: italic;
    font-size: 15px;
}

.input-Check-Pass {
    width: 285px;
    height: 35px;
    border-color: var(--main-color);
    border-radius: 18px;
    margin-top: 0px;
    padding: 7px;
    text-align: left;
}

.input-Check-Pass::placeholder {
    color: rgba(31, 30, 28, 0.5);
    font-style: italic;
    font-size: 15px;
}

.userName {
    font-size: 15px;
    font-weight: bold;

}

.userCity {
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}

.userMail {
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}

.userPassword {
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}

.userCheckPass {
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}

.label-user-select {
    font-size: 15px;
    font-weight: bold;
    margin-top: 13px;
}

#selectVegan {
    display: flex;
    width: 285px;
    height: 35px;
    font-size: 15px;
    font-family: var(--secundary-font-family);
    padding: 7px;
    margin-top: 0px;
    border-color: var(--main-color);
}


#selectVegan,
option {
    background-color: var(--main-color-two);
    border-radius: 15px;
}

.button-Register {

    width: 285px;
    height: 40px;
    border-radius: 30px;
    color: var(--neutral-font);
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    margin-top: 25px;
    background-color: var(--main-color);
}

.button-Register:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Media Queries */