* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #03a678;
  --secondary-red: #f25c5c;
  --secondary-orange: #f28705;
  --complementary-pink: #f26db6;
  --complementary-green: #84bf04;
  --neutral-background: #201f1f;
  --neutral-font: #fcfdff;
  --tittles-font-family: 'Oleo Script', cursive;
  --secundary-font-family: 'Roboto', sans-serif;
}

.div-container {
  display: grid;
  grid-template-rows: 15vh 40vh 15vh 25vh;
  justify-content: center;
  align-self: stretch;
  row-gap: 1em;
  width: 100%;
  height: 100vh;
  background: var(--neutral-background);
  font-family: var(--secundary-font-family);
}

.container-header {
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  justify-items: center;
  align-content: end;
  margin-top: 4em;
}

.img-logo {
  width: 250px;
}

.container-form {
  display: grid;
  align-content: end;
  grid-row-start: 2;
  grid-row-end: 3;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.labels {
  color: var(--neutral-font);
  font-size: 1em;
  margin-top: 0.8em;
  font-weight: bold;
}

.inputs {
  width: 300px;
  height: 35px;
  border-radius: 30px;
  font-weight: lighter;
  border-style: none;
  padding: 1em;
}

.inputs::placeholder {
  color: rgba(31, 30, 28, 0.5);
  font-style: italic;
  font-size: 1em;
}

.inputs:focus {
  border: 2px solid #03a678;
  transform: scale(1.05);
  outline: none;
}

.buttons {
  width: 300px;
  height: 40px;
  border-radius: 40px;
  color: var(--neutral-font);
  font-size: 1em;
  font-weight: bold;
  border-style: none;
}

.buttons:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-login {
  background-color: var(--main-color);
  margin-top: 4em;
}

.container-google {
  grid-row-start: 3;
  grid-row-end: 4;
}

.button-google {
  background-color: var(--secondary-red);
  padding-right: 1em;
}

.fa-google {
  float: left;
  width: 35px;
  font-size: 1.1em;
  padding-left: 2.1em;
}

.container-register-home {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 4em;
}

.href-register {
  color: var(--main-color);
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
}

.href-register:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Responsive */
@media screen and (min-width: 390px) and (max-width: 779px) {
  .div-container {
    row-gap: 1em;
  }

  .img-logo {
    width: 300px;
  }

  .labels {
    font-size: 1em;
    margin-top: 0.8em;
  }

  .inputs {
    width: 400px;
    height: 35px;
    border-radius: 40px;
  }

  .inputs::placeholder {
    font-size: 1.1em;
  }

  .buttons {
    width: 400px;
    height: 45px;
    border-radius: 45px;
    font-size: 1.2em;
  }

  .button-login {
    background-color: var(--main-color);
    margin-top: 4em;
  }

  .fa-google {
    font-size: 1.1em;
    padding-left: 80px;

  }

  .button-google {
    padding-right: 40px;
  }

  .container-register-home {
    margin-bottom: 4em;
  }

  .href-register {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 780px) and (max-width: 1800px) {
  .div-container {
    row-gap: 1em;
  }

  .img-logo {
    width: 400px;
  }

  .labels {
    font-size: 1.2em;
    margin-top: 1em;
  }

  .inputs {
    width: 450px;
    height: 40px;
    border-radius: 35px;
    padding: 1em;
  }

  .inputs::placeholder {
    font-size: 1.2em;
  }

  .buttons {
    width: 450px;
    height: 50px;
    border-radius: 45px;
    font-size: 1.3em;
  }

  .button-login {
    background-color: var(--main-color);
  }

  .fa-google {
    font-size: 1.2em;
  }

  .container-register-home {
    margin-bottom: 5em;
  }

  .href-register {
    font-size: 1.3em;
  }
}